* {
	margin: 0;
	padding: 0;
}
/*.adults, .kids {
	display: flex;
}
*/
/*.counter {
	width: 30px;
}
*/
.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#faf8f8;
}

/*.guest-info {*/
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	/*flex-direction: column;*/
	/*border: solid 1px;*/
	/*border-radius: 5px;*/
	/*border-color: #eae8e8;*/
	/*background-color: #eae8e8;*/
	/*width: 15rem;*/
	/*height: 15rem;*/
	/*justify-content: space-around;*/
	/*align-items: center;*/
/*}*/


.guest-info {
	display: grid;
	grid-template-rows: repeat(8, 1fr) 10px;
	grid-template-columns: repeat(10, 1fr);
	width: 15rem;
	height: 15rem;
	/*justify-content: space-around;*/

	/*align-items: center;*/
	border-radius: 5px;
	border-color: #eae8e8;
	background-color: #eae8e8;
}

#empty-div {
	grid-row: 1/2;
	grid-column: 1/-1;
}

#adults {
	/*background-color: red;*/
	text-align: center;
	grid-column: 1/6;
	grid-row: 2/4;
	border-top-left-radius: 5px;
}

#kids{
	text-align: center;
	/*background-color: green;*/
	grid-column: 6/-1;
	grid-row: 2/4;
	border-top-right-radius: 5px;
}

#food-type {
	grid-row: 4/6;
	grid-column: 2/-1;
	/*text-align: center;*/
}

#alcohol {
	grid-row: 6/8;
	grid-column: 2/9;
}

.submit {
	grid-column: 4/8;
	grid-row: 8/9;
}

input.adultCount, input.kidCount {
    width: 2.5rem;
    align-items: center;
}

/*.guestCount {
	background-color: #a27c45;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	border: 3px solid #a27c45;
	border-radius: 5px;
	align-items: center;
}

.buttons {
	display: flex;
}

.food-options {
	display: flex;
	flex-direction: column;
	min-width: 100px;
	border: 3px solid #a27c45;
	border-radius: 5px;
}*/