* {
	margin: 0;
	padding: 0;
	font-family: arial;
	align-items: center;
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: space-evenly;
}

h1 {
	grid-column: 1/-1;
	text-align: center;
	align-self: center;
}

#event-info, #foodPlanning {
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
	padding: 5px;
}

#event-info>div, #foodPlanning>div {
	flex: 1 1 auto;
	margin: 5px;
}

#foodPlanning {
	justify-content: space-between;
}

.guest-info {
	padding: 5px;
	width: 600px;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 2.5px 2.5px gray;
	background-color: #faf8f8;
	border-radius: 5px;
}

#hello {
    margin-right: 100px;
    width: 100px;
    height: 100px;
}

#form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#foodPlanning {
	grid-row: 2/3;
}

#adults {
	text-align: center;
	align-self: center;
	grid-column: 1/6;
	grid-row: 1/3;
	border-top-left-radius: 5px;
}

#guests {
	height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#adultCount, #kidCount {
	max-width: 50px;
}

#kids {
	text-align: center;
	align-self: center;
	grid-column: 6/-1;
	grid-row: 1/3;
	border-top-right-radius: 5px;
}

#food-type {
	display: flex;
	justify-content: space-evenly;
/*	grid-row: 3/5;
	grid-column: 2/-1;*/
}

#menu-main {
	list-style-type: none;
}

#drinks {
	width: 100px;
}

.submit {
	justify-self: center;
	grid-row: 3/-1;
	width: 3rem;
}

input[type=text], input[type=list], input[type=date], input[type=time], select {
    padding: 6px 10px;
    height: 2rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type=list], input[type=date], input[type=time], select {
    padding: 6px 10px;
    height: 2rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.adultCount, input.kidCount {
	width: 2.5rem;
	align-items: center;
}

.results-container {
	padding: 5px;
	/*display: grid;*/
	/*grid-template-rows: 10% 90%;*/
	width: 200px;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 2.5px 2.5px gray;
	background-color: #faf8f8;
	border-radius: 5px;	
}

h4 {
	display: inline;
}
 input[type=number] {
 	padding: 3px 5px;
    width: 2.5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*.guestCount {
	background-color: #a27c45;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	border: 3px solid #a27c45;
	border-radius: 5px;
	align-items: center;
}

.buttons {
	display: flex;
}

.food-options {
	display: flex;
	flex-direction: column;
	min-width: 100px;
	border: 3px solid #a27c45;
	border-radius: 5px;
}*/