<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css"></link>
	<title>Party Time!</title>
</head>
<body class="container">
	<div class="guest-info">
		<h1>Party Food Planner</h1>
		<form id="form">
<!-- 			<section id="event-info">
 -->				<div>
					<h5>Event Name:</h5>
					<input type="text" name="event-name"></input>
				</div>
				<div>
					<h5>Address:</h5>
					<input type="text"></input>
				</div>
				<div>
					<h5>Event Type:</h5>
					<input type="list" list="event-type"/>
				
					<datalist id="event-type">
						<option value="Wedding"/>
						<option value="Graduation"/>
						<option value="Birthday"/>
						<option value="Anniversary"/>
						<option value="Christmas"/>
						<option value="Thanksgiving"/>
						<option value="St. Patrick's Day"/>
					</datalist>
				</div>
				<div>
					<h5>Meal Type:</h5>
					<input  id="meal" type="list" list="meal-type"/>
				
					<datalist id="meal-type">
						<option value="Cocktails"/>
						<option value="Appetizers"/>
						<option value="Breakfast"/>
						<option value="Lunch/Dinner"/>
						<option value="Dessert"/>
					</datalist>
				</div>

				<div>
					<h5>Date:</h5>
					<input id="datefield" type="date" name="event-date"/>
				</div>

				<div>
					<h5>Time:</h5>
					<input id="time" type="time"></input>
				</div>

			<!-- </section> -->


			<!-- <section id="foodPlanning"> -->
				<div id="guests">
					<p>Adults:</p>
					<input id="adultCount" min="0" class="counter" type="number" name="adultCount" value="0"></input>
					<p>Kids:</p>
					<input id="kidCount" min="0" class="counter" type="number" name="kidsCount" value="0"></input>
				</div>

				<div id="food-type">
					<p>Menu:</p>
					<input class="checklist" id="pizza" type="checkbox" name="pizza" value="pizza"></input> Pizza
					<input class="checklist" id="subs" type="checkbox" name="sub" value="subs"></input> Subs
					<input class="checklist" id="salad" type="checkbox" name="salad" value="salad"></input> Salad
				</div>

				<div id="drinks">
					<p>Will there be alcohol?</p>
					<input type="radio" name="alcohol" value="yes"></input> Yes<br/>
					<input type="radio" name="alcohol" value="no"></input> No<br/>
				</div>
			<!-- </section> -->

			<input class="submit" type="submit" value="Next"></input>
		</form>
	</div>
	<div class="results-container" id="results">
		<div>
			<span>Lbs of meat (high): </span><h4 id="high"></h4>
			<br/>
			<span>Lbs of meat (low): </span><h4 id="low"></h4>
		</div>
	</div>
</body>
    <script src="js/app.js"></script>
    <script src="js/servingsCalculator.js"></script>
    <script src="js/date.js"></script>
    <script src="js/displayRestaurants.js"></script>
</html>